* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 0.5em;
}
.navbar div {
  display: flex;
  align-items: center;
}
ul {
  display: flex;

  list-style: none;
}
li {
  margin: 0 0.5em;
}
.brand-logo {
  margin-right: 2em;
}
.nav-link {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
}
.nav-link:hover {
  text-decoration: underline;
  color: blue;
}
.subscribe-btn {
  border: 0;
  color: white;
  background-color: rgb(0, 71, 195);
  padding: 0.25em 0.5em;
  margin: 0 1em;
}

.top-news-feed {
  display: flex;
  max-width: 80%;
  margin: auto;
  padding-top: 2em;
}
/* select only the direct child '>' */

.left,
.right {
  position: relative;
  border-top: 1px solid black;
  margin: 0 0.5em;
}

.grid-title {
  background-color: black;
  color: white;
  padding: 0.25em 0.5em;
  position: absolute;
  top: 0;
  left: 0;
}

.news-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  padding: 1.5em;
  padding-top: 3em;
}

.news-grid-item:nth-child(2) {
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;
}
.main-img {
  width: 100%;
  min-height: 65%;
  object-fit: cover;
}
.right {
  padding-top: 3em;
}
.recent-news {
  display: flex;
  margin: 1em 0;
  border-bottom: 1px solid gray;
}

.recent-news .recent-right img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.recent-left .author {
  font-size: 0.7rem;
}

.author,
.article-title {
  text-decoration: none;
  color: black;
}
.author:hover,
.article-title:hover {
  text-decoration: underline;
}
.recent-left {
  display: flex;
  flex-direction: column;
}

@media (max-width: 500px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .navbar div:nth-child(2) {
    margin: 1em 0;
  }
  .news-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .news-grid-item:nth-child(2) {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
  }
  .top-news-feed {
    flex-direction: column;
  }
  .main-img {
    width: 100%;
    height: 40%;
  }
  .news-grid-item {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 501px) and (max-width: 650px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .navbar div:nth-child(2) {
    margin: 1em 0;
  }
  .top-news-feed {
    flex-direction: column;
  }
  .news-grid {
    grid-template-columns: 1fr 1fr;
  }
  .news-grid-item:nth-child(2) {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }
  .news-grid-item img {
    width: 100%;
  }
  .recent-news {
    justify-content: space-between;
  }
}

@media (min-width: 651px) and (max-width: 768px) {
  .top-news-feed {
    flex-direction: column;
  }
  .news-grid {
    grid-template-columns: 1fr 1fr;
  }
  .news-grid-item:nth-child(2) {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }
  .news-grid-item img {
    width: 100%;
  }
  .recent-news {
    justify-content: space-between;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .top-news-feed {
    flex-direction: column;
  }
  .recent-news {
    justify-content: space-between;
  }
}
