.card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  margin: 0.5em;
}
.loading {
  background-color: rgb(190, 190, 190);
  color: rgb(190, 190, 190);
}
.max-width-content {
  max-width: fit-content;
}
.card img {
  width: 100%;
  padding: 5em 0;
}

.card .category {
  letter-spacing: 0.2rem;
  margin: 0.5em 0;
}
.card .title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1em;
}
.card .title:hover {
  text-decoration: underline;
}
.card .desc {
  margin-bottom: 1.5em;
}

.card-row img {
  width: 50%;
}

.card-row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  text-decoration: none;
  margin: 1em 0;
  color: black;
}

.card-row .title {
  margin-bottom: 0.5em;
}

.card-row > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card-row img {
  margin-left: 1em;
}
.card-row .title {
  font-size: 1.5rem;
  font-weight: 700;
}
.card-row .title:hover {
  text-decoration: underline;
}

.featured-card {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
.featured-card img {
  width: 65%;
  margin: 0;
}
.py-15 {
  padding: 15em 0;
}
.featured-card .d-column {
  justify-content: flex-start;
  width: 35%;
  padding: 0 2em;
}
.featured-card .category {
  letter-spacing: 0.5rem;
  margin-bottom: 1em;
}

.featured-card .title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1em;
}

.featured-card .desc {
  font-size: 1.5rem;
  margin-bottom: 1em;
}
.featured-card .author {
  font-weight: 600;
}

.featured-sub-card {
  width: 25%;
  border-right: 1px solid rgba(197, 197, 197, 0.473);
  padding-right: 1em;
  margin: 1em;
}
.featured-sub-card:last-child {
  border: 0;
}
