* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.page {
  border: 2px solid red;
  display: flex;
}
.left,
.right {
  border: 4px dotted green;
  width: 50%;
}
.left {
  background-color: lightblue;
  background-image: url("./back.png");
  background-size: cover;
  padding: 1em;
}

img {
  width: 40px;
}
.brand {
  display: flex;
  align-items: center;
}
.brand img {
  background-color: transparent;
  margin-right: 0.3em;
}
.brand span {
  font-size: 1.5rem;
  font-weight: 700;
  color: #0075fd;
}
.title {
  font-size: 2rem;
  color: #0075fd;
  width: 30%;
  margin-top: 1em;
  line-height: 3rem;
}
.text-large {
  font-size: 4rem;
  font-weight: 700;
}

.right {
  padding: 1.5em;
}

.appoint-p {
  color: rgb(142, 142, 142);
  margin: 1em 0;
}

.service-container {
  display: flex;
  margin: 1em 0;
}
.service-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  width: 25%;
}
.service-icon img {
  background-color: #0075fd;
  border-radius: 50%;
  padding: 0.5em;
  margin-bottom: 0.5em;
  width: 70px;
}
.input-row {
  display: flex;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0.5em;
}
.input-group p {
  margin-bottom: 0.5em;
}
.input-field {
  border: 1px solid grey;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding-left: 0.5em;
}
.input-field img {
  width: 15px;
  margin-right: 0.5em;
}

.input-field input {
  padding: 0.5em;
  border: 0;
  width: 90%;
}

.input-field input:focus {
  border: 0;
}
textarea {
  width: 100%;
  padding: 0.5em;
}

.btn {
  border: 0;
  margin-left: 0.5em;
  padding: 1em 4em;
  background-color: #0075fd;
  color: white;
  border-radius: 5px;
}
.btn {
  width: 100%;
}
@media (max-width: 480px) {
  .page {
    flex-direction: column;
  }
  .left,
  .right {
    width: 100%;
  }
  .left {
    display: none;
    padding: 5em 1em;
  }
  .right {
    background-image: url("./back.png");
    background-size: cover;
  }

  .title {
    width: 70%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .page {
    flex-direction: column;
  }
  .left,
  .right {
    width: 100%;
  }
  .left {
    padding: 7em 2em;
  }
  .right {
    padding: 2em;
  }
}
@media (min-width: 769px) and (max-width: 950px) {
  .page {
    flex-direction: column;
  }
  .left,
  .right {
    width: 100%;
  }
  .left {
    padding: 10em 4em;
  }
  .right {
    padding: 2em 4em;
  }
}
