.category-page {
  padding-top: 5em;
}
.category-page .category-title {
  margin: 1em 0;
  text-align: center;
  font-size: 3rem;
}
.category-page .row {
  display: flex;
  align-items: start;
  padding: 0 2em;
}

.category-page .column {
  padding: 1em;
}
.category-page .column:first-child {
  border-right: 1px solid #a4a4a4;
}
.w-80 {
  width: 80%;
}
.p-relative {
  position: relative;
}
.latest {
  border-top: 2px solid black;
  margin: 0 2em;
  padding: 0 !important;
  padding-top: 3em !important;
}
.row-reversed {
  flex-direction: row !important;
}
.w-60 {
  width: 60% !important;
}
.img-w-40 img {
  width: 40% !important;
  margin: 0 !important;
}
.px-2 {
  padding: 2em 0;
}
.border-b-1 {
  border-bottom: 1px solid rgb(179, 179, 179);
}
.border-b-1:last-child {
  border: 0;
}
.justify-start {
  justify-content: flex-start;
}
.content {
  margin-left: 2em;
}
.bold {
  font-weight: 700;
}
